html{
}

* {
    box-sizing: border-box;
}
header{
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;   
}
Nav {
    display: flex;
    background-color: black;
    box-sizing: 60px;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: white;
    margin-right: 55%;
    margin-left: 5%;
}
.navBarra{
    background: black;
    color: salmon;
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    padding-top: 8%;
    padding-right: 5px;
}


img{
    display: flex;
}
nav a{
    background-color: black;
    
}
    
.navBarra:hover{
    background:  rgba(136, 255, 229, .10)
}

h2{
    text-align: center;
}
ul{
    list-style-type: none;
}
.encima {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    margin-top:35px;
}

.encima2{
    display: list-item;
}
body {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

main {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    background-color: rgb(108, 172, 255);
}

.mainDiv{
display: flex;
padding-top: 20px;
background-color: rgb(97, 155, 231);
}

.ul1 li{
    display: flex;
}


#flexDiferente{
    flex-direction: column;
}


section{
    display: flex;
    background-color:  rgb(80, 129, 194);
}

.div2{
    flex-direction: column;
    margin: 5%;
}
.textMargin2{
   width: 800px;
   margin-left: 20px;
}
footer{
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: rgb(59, 96, 145);
}