header{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
h1{
    color: white;
    width: 300px;
    padding-left: 4%;
    align-self: center;
    font-size: 45px;
    text-align: center;
}
nav ul{
display: flex;
justify-content: space-evenly;
padding-top: 60PX;
padding-right: 3%;
}
nav ul li{
    padding-right: 5px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color:rgb(163, 163, 238);
}
/* div de la imagen principal*/
div img{
    width: 100%;
    height: 550px;
}
/*Contenido principal (main)*/
main{
    
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.main_content{
    display: flex;
    justify-content: space-between;
    
}
.item_main_content{
    text-align: center;
}
.main_item_text, .main_item_h2{
    text-align: left;
    width: 350px;
}
.main_item_text{
    font-size: 20px;
}
.main_item_h2{
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.item_main_content img{
    align-content: center;  
} 
/* contenido de la seccion*/

#section1{
    background-color: rgb(176, 233, 255);
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
    padding-bottom: 70px;
}
.list{
    display: flex;
    margin-bottom: 10px;
}
.list p{
    width: 200px;
    padding-left: 5px;
    padding-top: 10%;
    font-size: 20px;
}
.article_text{
    width: 800px;
}
section h3{
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}
.section_article p{
    padding-top: 10px;
    font-size: 20px;
}
/* contenido de la sección 2 */
#section2{
    background-color: rgb(160, 211, 231);
    display: flex;
   padding: 30px;
}
.h3_links{
    margin-bottom: 15px;
}
#section2 p{
    font-size: 20px;
    padding: 20px;
}
#section2 div{
    padding-top: 40px;
}
.div_links{
    width: 2000px;
    text-align: center;
}
.div_links a{
    margin-bottom: 7px;
    font-size: 20px;
    color: white;
}
.il_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* contenido del footer*/
footer{
    margin: 0;
    text-align: center;
    height: 50px;
    background-color: rgb(176, 233, 255);
}
footer p{
    padding-top: 20px;
    margin-top: 0;
}